body {
	padding-top: 50px;
	color: #fffff;
	background-color: #99e6ff;
	font-family: 'Sans-serif';
	font-weight: bold;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.rocio-button {
	background-color: red;
}
